body {
  background-color: #bdbdbd;
  margin: 0;
}

main {
  display: flex;
  padding: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.actions {
  margin-top: 1rem;
}

button {
  border: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 150%;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem;
  width: 25%;
}

#message {
  font-size: 150%;
  height: 20rem;
  padding: 0.5rem;
  width: 98%;
}

.bg-red {
  background-color: #B71C1C;
}

.bg-blue {
  background-color: #0D47A1;
}

.bg-green {
  background-color: #1b5e20;
}

.red {
  color: #B71C1C;
}

.blue {
  color: #0D47A1;
}

.green {
  color: #1b5e20;
}